/**************************************||
** Dibuat oleh  : Ari Setiawan         ||
** Tanggal      : 17-05-2019           ||
** Organisasi   : Indocreativ          ||
** Nama Tema    : Idc-News             ||
** Versi        : 1.0                  ||
***************************************||
  ||| ||||  ||| ||||||   ||||||||   ||||||  ||||||   ||||||||  ||||||  ||||||||| ||| |||       |||
  ||| ||||| ||| ||| |||  |||  |||  |||  ||| |||  ||  |||      |||  |||    |||    |||  |||     |||
  ||| ||||||||| |||  ||| |||  ||| |||       ||||||   ||||||   |||  |||    |||    |||   |||   |||
  ||| ||| ||||| ||| |||  |||  |||  |||  ||| ||| |||  |||      ||||||||    |||    |||    ||| |||
  ||| |||  |||| ||||||   ||||||||   ||||||  |||  ||| |||||||| |||  |||    |||    |||     |||||
** NOTE: Tolong untuk tidak menghapus komentar ini sebagai bentuk 
** menghargai hak cipta suatu karya apapun yang di buat oleh indocreativ. 
** Terimakasih.
*/
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background: url(../images/bg1.jpg);
}

.card-box{
    min-height: 485px;
    background:rgb(255, 255, 255);
    margin-bottom: -20px;
    padding: 20px;
    display: flex;
    padding-bottom: 100px;
}

.card-body{
    width:100%
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.col-3{
    clear: both;
    width: 33.33333333%;
    padding:20px
}
.col-6{
    clear: both;
    width: 50%;
    padding:20px
}
.col-9{
    clear: both;
    width: 66.66666666%;
    padding:20px
}
.col-12{
    clear: both;
    width: 100%;
    padding:20px
}

.container{
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}
.post-content{
    margin: 0 25px;
}
.post-item{
    float: left;
    margin: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    padding: 10px;
    margin-bottom: 20px;
}
.post-item figure{
    width: 333px;
    height: 180px;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.post-item img{
    width: 100%;
    height:auto;
    transition: all 0.4s ease-in;
}
.post-item img:hover{
    transform: scale(1.5);
    transition: all 0.4s ease-out;
}

.box-title{
    margin-left: 35px;
    border-bottom: 3px solid rgb(218, 27, 96);
    width: 93.5%;
    background: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.header-main{
    width: 1200px;
    position: fixed;
    border-bottom: 4px solid rgb(218, 27, 96);
    background: rgb(255, 255, 255);
    z-index: 999;
    box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.36);
}

.clear-header{
    height: 90px;
}
.logo{
    display: inline-block;
}
.menu{
    float: right;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    float: left;
}

.menu ul li a{
    padding: 10px 20px;
    background-image: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
    border-radius: 30px;
    margin-right: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
}

footer{
    background: rgb(64, 63, 63);
    margin-bottom: -20px;
    padding: 20px 200px 0 200px;
    color: rgb(245, 245, 245);
    border-top: 4px solid rgb(218, 27, 96);
} 
a:not(.pagination-count):hover{
    background: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}
.footer-body{
    display: flex;
}
.footer-item{
    width: 33.33%;
    padding: 10px;
}
.footer-item h2{
    border-bottom: 2px solid rgb(138, 138, 138);
    max-width: 300px;
    padding-left: 15px;
}

.footer-item h2 div{
    background: rgb(218, 27, 96);
    width: 20px;
    height: 30px;
    float: left;
    margin: 0 12px 0 -15px;
}

.m-title{
    text-align: center
}
.m-title a{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.post-title span{
    font-size: 12px;
    float: right;
}

.copyright{
    text-align: center;
    padding: 20px 0;
    background: rgb(31, 31, 31);
    position: absolute;
    left: 0;
    width: 100%;
}
.category-content{
    
    margin: 0 20px;
}
.category-item{
    margin: 20px;
    float: left;
    width: 325px;
    display: flex;
    border: 1px solid rgb(210, 210, 210);
}
.category-item figure{
    width: 65px;
    height: 65px;
    overflow: hidden;
    position: relative;
    margin: 10px;
    border-radius: 50px;
    border: 5px solid rgb(228, 228, 228);
}
.category-item figure a img:hover{
    transform: scale(1.5);
    transition: all 0.4s ease-out;
}
.category-item figure a img{
    width: auto;
    height: 100%;
    transition: all 0.4s ease-in;
}
.category-title{
    
}
.c-title{
    margin-top: 35px;
    margin-left: 10px;
    font-weight: 600
}
.c-title a{
    text-decoration: none;
}
.pagination{
    clear: both;
}
.pagination ul {
    list-style: none;
    border: 1px solid rgb(218, 27, 96);
    height: 60px;
}
.pagination ul li{
    float: left;
    width: 40px;
    text-align: center;
    background: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
    margin-right: 5px;
    padding: 10px 0;
    border-radius: 50px;
    margin-top: 9px;
}
.pagination-count{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.pagination-count:hover{
    color: rgb(218, 216, 216)!important;
}

.contact-wrap{
    float: left;
}

.flex{
    display: flex;
}

.form-group{

}
.form-group label{
    position: absolute;
    font-size: 14px
}
.form-group input[type=text], 
.form-group input[type=email],
.form-group input[type=date],
.form-group select,
.form-group textarea{
    margin-top: 20px;
    padding: 10px 10px 10px;
    display: block;
    display: inline-block;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid rgb(218, 27, 96);
}

.pull-right{
    float: right;
}
.btn-contact{
    background: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.pages{
    margin: 0 50px;
    color: rgb(138, 137, 137);
}
.pages a, .writer span a{
    color:rgb(52, 225, 255);
    text-decoration: none
}
.writer{
    margin-left: 50px;
    border-bottom: 1px solid rgb(234, 234, 234);
    width: max-content;
    color: rgb(168, 168, 168);
}
.writer span, .writer span a{
    font-style: italic;   
}
.s:after{
    content: "  ||  "
}
