/**************************************||
** Dibuat oleh  : Ari Setiawan         ||
** Tanggal      : 17-05-2019           ||
** Organisasi   : Indocreativ          ||
** Nama Tema    : Idc-News             ||
** Versi        : 1.0                  ||
***************************************||
  ||| ||||  ||| ||||||   ||||||||   ||||||  ||||||   ||||||||  ||||||  ||||||||| ||| |||       |||
  ||| ||||| ||| ||| |||  |||  |||  |||  ||| |||  ||  |||      |||  |||    |||    |||  |||     |||
  ||| ||||||||| |||  ||| |||  ||| |||       ||||||   ||||||   |||  |||    |||    |||   |||   |||
  ||| ||| ||||| ||| |||  |||  |||  |||  ||| ||| |||  |||      ||||||||    |||    |||    ||| |||
  ||| |||  |||| ||||||   ||||||||   ||||||  |||  ||| |||||||| |||  |||    |||    |||     |||||
** NOTE: Tolong untuk tidak menghapus komentar ini sebagai bentuk 
** menghargai hak cipta suatu karya apapun yang di buat oleh indocreativ. 
** Terimakasih.
*/

body{
  margin: 0;
  background-image: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.form-group{
  padding: 10px 0;
  margin-left: 10px;
  margin-right: 10px;
}
.form-group label{
  position: absolute;
  font-size: 13px;
}

.form-group input[type=text], .form-group input[type=password]{
  margin-top: 20px;
  padding: 10px;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}

.login-form{
  width: 25%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid rgb(193, 193, 193);
  padding: 30px 20px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow:1px 15px 20px 4px rgba(0, 0, 0, 0.251);
}

.btn-login{
  background: rgb(139, 195, 74);
    border: 1px solid rgb(105, 150, 53);
    padding: 10px;
    width: -webkit-fill-available;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}
.btn-login:hover{
  background: rgb(105, 150, 53)
}
.action-area{
  padding: 10px;
}

.error{
  background: rgb(253, 188, 188);
  padding: 10px;
  border-radius: 5px;
}

.close{
  float: right;
  cursor: pointer;
}

.copyright{
  color: #fff;
  margin-top: 25px;
  text-align: center
}