/**************************************||
** Dibuat oleh  : Ari Setiawan         ||
** Tanggal      : 17-05-2019           ||
** Organisasi   : Indocreativ          ||
** Nama Tema    : Idc-News             ||
** Versi        : 1.0                  ||
***************************************||
  ||| ||||  ||| ||||||   ||||||||   ||||||  ||||||   ||||||||  ||||||  ||||||||| ||| |||       |||
  ||| ||||| ||| ||| |||  |||  |||  |||  ||| |||  ||  |||      |||  |||    |||    |||  |||     |||
  ||| ||||||||| |||  ||| |||  ||| |||       ||||||   ||||||   |||  |||    |||    |||   |||   |||
  ||| ||| ||||| ||| |||  |||  |||  |||  ||| ||| |||  |||      ||||||||    |||    |||    ||| |||
  ||| |||  |||| ||||||   ||||||||   ||||||  |||  ||| |||||||| |||  |||    |||    |||     |||||
** NOTE: Tolong untuk tidak menghapus komentar ini sebagai bentuk 
** menghargai hak cipta suatu karya apapun yang di buat oleh indocreativ. 
** Terimakasih.
*/

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.error-page{
	background-image: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
	position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.error-container{
	width: 500px;
    margin: 0 auto;
    margin-top: 100px;
	text-align: center;
	color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}
.error-container p{
	font-size: 23px;
}

.error-container button:hover{
	background: rgba(255, 255, 255, 0.43);
    color: rgb(255, 254, 254);
	-webkit-transition: background 0.2s, color 0.4s linear 0s;
}
.error-container button{
	border: 1px solid rgb(3, 169, 244);
    background: rgba(255, 255, 255, 0.9);
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(228, 57, 71);
    font-size: 16px;
    font-weight: 600;
	cursor:pointer
}
.error-container h1{
	font-size: 86px;
    margin: 0;
    padding: 0;
}
.top-menu{
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 999;
}

.top-left{
  padding: 10px 50px;
}

.top-right{
  width: -webkit-fill-available;
  background: linear-gradient(to right,rgb(255, 138, 0),rgb(218, 27, 96));
  
}

.top-right span{
  position: absolute;
  font-size: 20px;
  padding: 28px;
  color: rgb(255, 255, 255);
}
.panel-menu{
  width: 300px;
  background: rgb(40, 41, 41);
  margin-top: 79px;
  height: -webkit-fill-available;
  position: fixed;
}
.panel-menu ul{
  list-style: none;
  margin-left: -40px;
}
.panel-menu ul li{
  border-bottom: 1px solid rgb(64, 64, 64);
}
.panel-menu ul li a{
    display: block;
    padding: 15px 25px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    -webkit-transition: padding 0.2s linear 0s;
}

.panel-menu ul li a:hover{
  background: rgb(72, 72, 72);
  padding-left: 45px;
  -webkit-transition: padding-left 0.2s linear 0s;
}

section{
  position: absolute;
    width: -webkit-fill-available;
    margin-left: 300px;
    margin-top: 79px;
}

.content{
  padding: 20px 40px
}

.table{
  width:100%
}
.table , .table th, .table td{
  border: 1px solid rgb(210, 216, 222);
    border-collapse: separate !important;
    border-spacing: 0;
    padding: 10px;
    color: rgb(115, 115, 115);
}
.btn-edit, .btn-delete, .btn-add{
    padding: 3px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-edit{background: rgb(120, 218, 7);}
.btn-add{background: rgb(7, 176, 218);}
.btn-delete{background: rgb(218, 7, 18);}
.btn-edit:hover{background: rgb(91, 167, 4); -webkit-transition: background 0.2s linear 0s}
.btn-add:hover{background: rgb(4, 137, 170); -webkit-transition: background 0.2s linear 0s}
.btn-delete:hover{background: rgb(172, 5, 13); -webkit-transition: background 0.2s linear 0s}

.pull-right{
  float: right;
}
.mt-3{
    margin-top: 30px;
}
.mr-5{
  margin-right: 50px;
}
.figure{
  max-width: 70px;
  max-height: 70px;
  border: 7px solid rgb(219, 220, 220);
}
.table-news td:nth-child(1), .table-kategori td:nth-child(1), .table-akses td:nth-child(1){
  width:40px;
  text-align: center
}
.table-news td:nth-child(2), .table-kategori td:nth-child(2){
  width: 100px;
  text-align: center
}
.table-news td:nth-child(3), .table-kategori td:nth-child(3){
  font-size: 20px;
  color: rgb(231, 64, 65);
}
.table-news td:nth-child(4){
  width: 200px;
  text-align: center
}
.table-news td:nth-child(5), .table-kategori td:nth-child(4), .table-akses td:nth-child(4){
  width: 150px;
  text-align: center
}

.table p{
  margin: 0;
  font-size: 13px;
  color: rgb(115, 115, 115);
}
.form-group{
  padding: 10px 0;
  margin-left: 10px;
  margin-right: 10px;
}
.form-group label{
  position: absolute;
  font-size: 13px;
}

.form-group input[type=text], .form-group textarea ,.form-group select, .form-group input[type=file], .form-group input[type=password]{
  margin-top: 20px;
  padding: 10px;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}
.col-3{
  width:33.333333%;
  float: left;
}
.col-6{
  width:50%;
  float: left;
}
.col-9{
  width: 66.666666%;
  float: left;
}
.btn-add-block{
  background: rgb(113, 220, 15);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(88, 179, 5);
    border-radius: 5px;
    padding: 9px;
    width: -webkit-fill-available;
    font-size: 16px;
    cursor: pointer;
}

.btn-add-block:hover{
  background: rgb(88, 170, 11);
  -webkit-transition: background 0.5s linear 0s;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: rgb(254, 254, 254);
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
  width: 60%;
}

.close {
  color: rgb(170, 170, 170);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.img-form-preview{
  max-width: 100px;
  border: 10px solid rgb(230, 227, 227);
}